[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = "*"
scrapy = "*"
pywin32 = "*"
scraper-helper = "*"

[dev-packages]

[requires]
python_version = "3.9"
